.content {
  padding: 20px;
}

.navbar {
  border-top: 0;
  border-radius: 0;
  margin-bottom: 0;
}

/*
 * Sidebar
 */
.sidebar {
  position: fixed !important;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;

  .nav > li.active > a {
    background-color: #afb5b9;
    color: #ffffff;
  }
}

input {
  border: solid 1px #cecece;
  border-radius: 4px;
  display: inline-block;
  height: 30px;
  padding: 0 8px;
  width: 100%;

  &:focus {
    border: solid 1px #abd1ff;
    box-shadow: 0 0 4px 1px #52a0ff;
    outline: none;
  }
}
