.todo-container {
  width: 800px;

  .todo-form {
    margin-bottom: 10px;
    position: relative;
    width: 100%;

    input {
      border: solid 1px #cecece;
      border-radius: 4px;
      display: inline-block;
      height: 30px;
      padding: 0 35px 0 8px;
      width: 100%;

      &:focus {
        border: solid 1px #abd1ff;
        box-shadow: 0 0 4px 1px #52a0ff;
        outline: none;
      }
    }

    svg {
      cursor: pointer;
      fill: #333333;
      height: 30px;
      margin-right: 5px;
      position: absolute;
      right: 0;
      width: 30px;

      &:hover,
      &:focus {
        fill: #888888;
        outline: none;
        text-decoration: none;
      }
    }
  }

  .todo-list {
    list-style: none;
    padding: 0 9px;
    margin: 0 0 5px;
    line-height: 40px;

    li:not(:last-child) {
      border-bottom: solid 1px #CECECE;
    }
  }
}